### CSVLoader 이용하여 CSV 파일 데이터 가져오기

In [2]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\r2com\desktop\kpopmap\.venv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\r2com\desktop\kpopmap\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\r2com\desktop\kpopmap\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.5 MB 991.0 kB/s eta 0:00:12
   - -------------------------------------- 0.3/11.5 MB 4.1 MB/s eta 0:00:03
   -- ------------------------------------- 0.8/11.5 MB 6.2 MB/s eta 0:00:02
   ----- ---------------------------------- 1.4/11.5 MB 8.3 MB/s eta 0:00:02
   ------- -------------------------------- 2.1/11.5 MB 9.4 MB/s eta 0:00:01
   ----------- ---------------------------- 3.4/11.5 MB 12.7 MB/s eta 0:00:01
   ----------------- ---------------------- 4.9/11.5 MB 15.8 MB/s eta 0:00:01
   ------------------------ --------------- 7.0/11.5 MB 19.5 MB/s eta 0:00:01
   -------------------------------- ------- 9.3/11.5 MB 22.8 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 32.7 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 32.7 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 26.2 MB/s eta 0:00:00
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.2 pytz-2024.1 tzdata-2024.1

In [32]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/tsdata/langchain-study/main/data/%E1%84%92%E1%85%A1%E1%86%AB%E1%84%80%E1%85%AE%E1%86%A8%E1%84%8C%E1%85%AE%E1%84%90%E1%85%A2%E1%86%A8%E1%84%80%E1%85%B3%E1%86%B7%E1%84%8B%E1%85%B2%E1%86%BC%E1%84%80%E1%85%A9%E1%86%BC%E1%84%89%E1%85%A1_%E1%84%8C%E1%85%AE%E1%84%90%E1%85%A2%E1%86%A8%E1%84%80%E1%85%B3%E1%86%B7%E1%84%8B%E1%85%B2%E1%86%BC%E1%84%80%E1%85%AA%E1%86%AB%E1%84%85%E1%85%A7%E1%86%AB_%E1%84%8C%E1%85%B5%E1%84%89%E1%85%AE_20160101.csv", encoding='cp949')
df.head()

,연도,전국소득대비 주택가격 비율,서울소득대비 주택가격 비율,부산소득대비 주택가격 비율,대구소득대비 주택가격 비율,인천소득대비 주택가격 비율,광주소득대비 주택가격 비율,대전소득대비 주택가격 비율,울산소득대비 주택가격 비율,세종소득대비 주택가격 비율,...,세종평균 대출금액 평균 연소득,경기평균 대출금액 평균 연소득,강원평균 대출금액 평균 연소득,충북평균 대출금액 평균 연소득,충남평균 대출금액 평균 연소득,전북평균 대출금액 평균 연소득,전남평균 대출금액 평균 연소득,경북평균 대출금액 평균 연소득,경남평균 대출금액 평균 연소득,제주평균 대출금액 평균 연소득
0,2004-01-01,4.21,4.89,3.95,3.73,4.65,2.81,4.68,2.66,0.0,...,0.0,2.42,1.44,1.53,1.21,1.90,1.42,1.31,2.06,1.28
1,2004-01-01,4.39,5.59,3.91,3.88,4.59,2.92,3.83,2.74,0.0,...,0.0,2.79,1.18,1.71,1.97,1.57,1.33,1.26,1.92,2.46
2,2004-01-01,4.19,5.14,4.90,3.83,4.78,3.41,4.19,2.93,0.0,...,0.0,2.22,1.44,1.72,1.85,1.75,1.31,1.50,1.85,2.14
3,2004-01-01,4.09,4.38,4.20,3.77,4.30,2.83,4.19,2.81,0.0,...,0.0,2.62,1.53,1.57,1.79,1.64,1.19,1.56,1.89,1.81
4,2004-01-01,4.29,5.88,4.43,4.28,4.81,3.32,4.35,2.54,0.0,...,0.0,2.41,1.68,1.91,2.15,1.64,1.36,1.50,1.93,2.63

In [37]:
from langchain_community.document_loaders.csv_loader import CSVLoader

loader = CSVLoader(file_path='./한국주택금융공사_주택금융관련_지수_20160101.csv')   # , encoding='cp949'
data = loader.load()

len(data)

143

In [41]:
data[0]

Document(page_content='연도,전국소득대비 주택가격 비율,서울소득대비 주택가격 비율,부산소득대비 주택가격 비율,대구소득대비 주택가격 비율,인천소득대비 주택가격 비율,광주소득대비 주택가격 비율,대전소득대비 주택가격 비율,울산소득대비 주택가격 비율,세종소득대비 주택가격 비율,경기소득대비 주택가격 비율,강원소득대비 주택가격 비율,충북소득대비 주택가격 비율,충남소득대비 주택가격 비율,전북소득대비 주택가격 비율,전남소득대비 주택가격 비율,경북소득대비 주택가격 비율,경남소득대비 주택가격 비율,제주소득대비 주택가격 비율,전국평균 대출금액  평균 연소득,서울평균 대출금액  평균 연소득,부산평균 대출금액  평균 연소득,대구평균 대출금액  평균 연소득,인천평균 대출금액  평균 연소득,광주평균 대출금액  평균 연소득,대전평균 대출금액  평균 연소득,울산평균 대출금액  평균 연소득,세종평균 대출금액  평균 연소득,경기평균 대출금액  평균 연소득,강원평균 대출금액  평균 연소득,충북평균 대출금액  평균 연소득,충남평균 대출금액  평균 연소득,전북평균 대출금액  평균 연소득,전남평균 대출금액  평균 연소득,경북평균 대출금액  평균 연소득,경남평균 대출금액  평균 연소득,제주평균 대출금액  평균 연소득: 2004-01-01,4.21,4.89,3.95,3.73,4.65,2.81,4.68,2.66,0,4.17,2.49,2.62,2.17,3.12,2.12,2.12,3.81,2.99,2.36,2.61,2.35,2.24,2.7,1.6,2.26,1.67,0,2.42,1.44,1.53,1.21,1.9,1.42,1.31,2.06,1.28', metadata={'source': '한국주택금융공사_주택금융관련_지수_20160101.csv', 'row': 0})

In [38]:
from pprint import pprint
for i in data[0]:
    pprint(i)

('page_content',
 '연도: 2004-01-01\n'
 '전국소득대비 주택가격 비율: 4.21\n'
 '서울소득대비 주택가격 비율: 4.89\n'
 '부산소득대비 주택가격 비율: 3.95\n'
 '대구소득대비 주택가격 비율: 3.73\n'
 '인천소득대비 주택가격 비율: 4.65\n'
 '광주소득대비 주택가격 비율: 2.81\n'
 '대전소득대비 주택가격 비율: 4.68\n'
 '울산소득대비 주택가격 비율: 2.66\n'
 '세종소득대비 주택가격 비율: 0\n'
 '경기소득대비 주택가격 비율: 4.17\n'
 '강원소득대비 주택가격 비율: 2.49\n'
 '충북소득대비 주택가격 비율: 2.62\n'
 '충남소득대비 주택가격 비율: 2.17\n'
 '전북소득대비 주택가격 비율: 3.12\n'
 '전남소득대비 주택가격 비율: 2.12\n'
 '경북소득대비 주택가격 비율: 2.12\n'
 '경남소득대비 주택가격 비율: 3.81\n'
 '제주소득대비 주택가격 비율: 2.99\n'
 '전국평균 대출금액  평균 연소득: 2.36\n'
 '서울평균 대출금액  평균 연소득: 2.61\n'
 '부산평균 대출금액  평균 연소득: 2.35\n'
 '대구평균 대출금액  평균 연소득: 2.24\n'
 '인천평균 대출금액  평균 연소득: 2.7\n'
 '광주평균 대출금액  평균 연소득: 1.6\n'
 '대전평균 대출금액  평균 연소득: 2.26\n'
 '울산평균 대출금액  평균 연소득: 1.67\n'
 '세종평균 대출금액  평균 연소득: 0\n'
 '경기평균 대출금액  평균 연소득: 2.42\n'
 '강원평균 대출금액  평균 연소득: 1.44\n'
 '충북평균 대출금액  평균 연소득: 1.53\n'
 '충남평균 대출금액  평균 연소득: 1.21\n'
 '전북평균 대출금액  평균 연소득: 1.9\n'
 '전남평균 대출금액  평균 연소득: 1.42\n'
 '경북평균 대출금액  평균 연소득: 1.31\n'
 '경남평균 대출금액  평균 연소득: 2.06\n'
 '제주평균 대출금액  평균 연소득: 1.28')
('metadata',
 {'row': 0,
  'source': './한국주택금융공사_주택금융관련_지수_20160101.csv'})
('type', 'Document')

In [39]:
loader = CSVLoader(file_path='한국주택금융공사_주택금융관련_지수_20160101.csv', encoding='cp949',
                   csv_args={
                       'delimiter': '\n',
                   })

data = loader.load()

from pprint import pprint
for i in data[0]:
    pprint(i)

('page_content',
 '연도,전국소득대비 주택가격 비율,서울소득대비 주택가격 비율,부산소득대비 주택가격 비율,대구소득대비 주택가격 비율,인천소득대비 주택가격 '
 '비율,광주소득대비 주택가격 비율,대전소득대비 주택가격 비율,울산소득대비 주택가격 비율,세종소득대비 주택가격 비율,경기소득대비 주택가격 '
 '비율,강원소득대비 주택가격 비율,충북소득대비 주택가격 비율,충남소득대비 주택가격 비율,전북소득대비 주택가격 비율,전남소득대비 주택가격 '
 '비율,경북소득대비 주택가격 비율,경남소득대비 주택가격 비율,제주소득대비 주택가격 비율,전국평균 대출금액  평균 연소득,서울평균 대출금액  '
 '평균 연소득,부산평균 대출금액  평균 연소득,대구평균 대출금액  평균 연소득,인천평균 대출금액  평균 연소득,광주평균 대출금액  평균 '
 '연소득,대전평균 대출금액  평균 연소득,울산평균 대출금액  평균 연소득,세종평균 대출금액  평균 연소득,경기평균 대출금액  평균 '
 '연소득,강원평균 대출금액  평균 연소득,충북평균 대출금액  평균 연소득,충남평균 대출금액  평균 연소득,전북평균 대출금액  평균 '
 '연소득,전남평균 대출금액  평균 연소득,경북평균 대출금액  평균 연소득,경남평균 대출금액  평균 연소득,제주평균 대출금액  평균 연소득: '
 '2004-01-01,4.21,4.89,3.95,3.73,4.65,2.81,4.68,2.66,0,4.17,2.49,2.62,2.17,3.12,2.12,2.12,3.81,2.99,2.36,2.61,2.35,2.24,2.7,1.6,2.26,1.67,0,2.42,1.44,1.53,1.21,1.9,1.42,1.31,2.06,1.28')
('metadata',
 {'row': 0,
  'source': '한국주택금융공사_주택금융관련_지수_20160101.csv'})
('type', 'Document')

In [40]:
data[0]

Document(page_content='연도,전국소득대비 주택가격 비율,서울소득대비 주택가격 비율,부산소득대비 주택가격 비율,대구소득대비 주택가격 비율,인천소득대비 주택가격 비율,광주소득대비 주택가격 비율,대전소득대비 주택가격 비율,울산소득대비 주택가격 비율,세종소득대비 주택가격 비율,경기소득대비 주택가격 비율,강원소득대비 주택가격 비율,충북소득대비 주택가격 비율,충남소득대비 주택가격 비율,전북소득대비 주택가격 비율,전남소득대비 주택가격 비율,경북소득대비 주택가격 비율,경남소득대비 주택가격 비율,제주소득대비 주택가격 비율,전국평균 대출금액  평균 연소득,서울평균 대출금액  평균 연소득,부산평균 대출금액  평균 연소득,대구평균 대출금액  평균 연소득,인천평균 대출금액  평균 연소득,광주평균 대출금액  평균 연소득,대전평균 대출금액  평균 연소득,울산평균 대출금액  평균 연소득,세종평균 대출금액  평균 연소득,경기평균 대출금액  평균 연소득,강원평균 대출금액  평균 연소득,충북평균 대출금액  평균 연소득,충남평균 대출금액  평균 연소득,전북평균 대출금액  평균 연소득,전남평균 대출금액  평균 연소득,경북평균 대출금액  평균 연소득,경남평균 대출금액  평균 연소득,제주평균 대출금액  평균 연소득: 2004-01-01,4.21,4.89,3.95,3.73,4.65,2.81,4.68,2.66,0,4.17,2.49,2.62,2.17,3.12,2.12,2.12,3.81,2.99,2.36,2.61,2.35,2.24,2.7,1.6,2.26,1.67,0,2.42,1.44,1.53,1.21,1.9,1.42,1.31,2.06,1.28', metadata={'source': '한국주택금융공사_주택금융관련_지수_20160101.csv', 'row': 0})